@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  src: local("Chakra Petch"),
    url("./ChakraPetch-Regular.woff") format("woff");
}
@font-face {
  font-family: "Chakra Petch";
  font-style: italic;
  font-weight: 400;
  src: local("Chakra Petch"),
    url("./ChakraPetch-Italic.woff") format("woff");
}
@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 700;
  src: local("Chakra Petch"),
    url("./ChakraPetch-Bold.woff") format("woff");
}
@font-face {
  font-family: "Chakra Petch";
  font-style: italic;
  font-weight: 700;
  src: local("Chakra Petch"),
    url("./ChakraPetch-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Chakra Petch Light";
  font-style: normal;
  font-weight: 300;
  src: local("Chakra Petch Light"),
    url("./ChakraPetch-Light.woff") format("woff");
}
@font-face {
  font-family: "Chakra Petch Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Chakra Petch Medium"),
    url("./ChakraPetch-Medium.woff") format("woff");
}
@font-face {
  font-family: "Chakra Petch SemiBold";
  font-style: normal;
  font-weight: 600;
  src: local("Chakra Petch SemiBold"),
    url("./ChakraPetch-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Chakra Petch Light";
  font-style: italic;
  font-weight: 300;
  src: local("Chakra Petch Light"),
    url("./ChakraPetch-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Chakra Petch Medium";
  font-style: italic;
  font-weight: 500;
  src: local("Chakra Petch Medium"),
    url("./ChakraPetch-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Chakra Petch SemiBold";
  font-style: italic;
  font-weight: 600;
  src: local("Chakra Petch SemiBold"),
    url("./ChakraPetch-SemiBoldItalic.woff") format("woff");
}
